/* Add Your Styles Here */
body {
	padding: 0;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

.empty-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.empty-section--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
* {
  max-width: unset;
}
body {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
#iwi9 {
  background-image: url("background.webp");
  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding-top: 40px;
  padding-bottom: 0px;
}
#is9j {
  height: 115px;
  object-fit: contain;
  object-position: center center;
}
#ihri {
  font-family: Roboto;
  font-weight: 900;
  font-size: 32px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 0px 3px 3px;
  text-align: center;
  width: 1079px;
  text-transform: uppercase;
  line-height: 48px;
}
#is6i {
  font-family: Roboto;
  row-gap: 20px;
  column-gap: 20px;
}
#iwany {
  font-family: Roboto;
  font-weight: 900;
  font-size: 64px;
  color: rgb(254, 222, 0);
  text-shadow: rgb(0, 0, 0) 0px 3px 3px;
  text-align: center;
  width: 1079px;
  text-transform: uppercase;
  line-height: 72px;
}
#irjot {
  background-image: url("background.webp");
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 82px;
  width: 355px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#i59yi {
  font-family: Roboto;
  font-weight: 900;
  font-size: 48px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 0px 3px 3px;
  text-align: center;
  width: 1079px;
  text-transform: uppercase;
  line-height: 64px;
}
@media (max-width: 992px) {
  #i59yi {
    font-size: 32px;
    line-height: 48px;
  }
}
@media (max-width: 576px) {
  #i59yi {
    font-size: 20px;
    line-height: 28px;
  }
  #is9j {
    height: 61px;
  }
  #iwany {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 0px) {
  #iwi9.bg-overlay::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
  #irjot.bg-overlay::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
